<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ui th:replace="fragments/sidebar :: sidebar"></ui>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="fragments/bodyHeader :: bodyHeader"></nav>

            <div class="container">
                <!--line 1-->
                <div class="row ml-1 align-items-end">

                    <!--post list-->
                    <div class="col">
                        <div class="row">
                            <a th:href="@{/boards/{boardId}(boardId = ${post.boardId})}"
                               class="btn btn-secondary ">
                                목록
                            </a>
                            <a th:href="@{/posts/{postId}/modify(postId = ${post.id})}"
                               th:if="${post.writerId} == ${id}"
                               class="btn btn-primary  ml-1" type="submit">
                                수정
                            </a>
                            <form th:action="@{/posts/{postId}/delete(postId = ${post.id})}"
                                  th:if="${post.writerId} == ${id}"
                                  method="post">
                                <button class="btn btn-danger  ml-1" type="submit">
                                    삭제
                                </button>
                            </form>
                        </div>
                    </div>

                    <!--view count-->
                    <div class="col">
                        <div class="row justify-content-end">
                            <div class="w-25 text-right">
                                <a>조회수</a>
                            </div>
                            <div class="w-50 text-left ml-2">
                                <a th:text="${post.viewCount}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--line 2-->
                <div class="row ml-1 align-items-end">
                    <!--title-->
                    <div class="col">
                        <div class="row">
                            <h2 class="m-0"><a th:text="${post.title}"></a></h2>
                        </div>
                    </div>
                    <!--writer-->
                    <div class="col">
                        <div class="row justify-content-end">
                            <div class="w-25 text-right">
                                <a>작성자</a>
                            </div>
                            <div class="w-50 text-left ml-2">
                                <a th:text="${post.writerName}"></a>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="w-25 text-right">
                                <a>작성 시간</a>
                            </div>
                            <div class="w-50 text-left ml-2">
                                <a th:text="${#dates.format(post.createdAt,'yyyy-MM-dd HH:mm:ss')}"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <!--post content-->
                <div class="row ml-2">
                    <span style="white-space: pre-line" th:text="${post.content}"></span>
                </div>
                <!--evaluation-->
                <div class="row justify-content-center">
                    <!--like post-->
                    <form th:action="@{/like/posts/{postId}(postId=${post_id})}" method="post">
                        <button class="btn btn-primary m-3" type="submit">
                            <i class="bi bi-hand-thumbs-up-fill">
                                <br/>
                                <span th:text="${post.likeCount}"></span>
                            </i>
                        </button>
                    </form>
                    <!--dislike post-->
                    <form th:action="@{/dislike/posts/{postId}(postId=${post_id})}" method="post">
                        <button class="btn btn-danger m-3" type="submit">
                            <i class="bi bi-hand-thumbs-down-fill">
                                <br/>
                                <span th:text="${post.dislikeCount}"></span>
                            </i>
                        </button>
                    </form>
                </div>
                <hr>

                <!--comment-->
                <div class="card mb-2">

                    <!--title-->
                    <div class="card-header bg-light">
                        <i class="fa fa-comment fa"></i>
                        <span th:text="댓글+ '(' + ${post.commentCount} + ')'"></span>
                    </div>

                    <!--body-->
                    <div class="card-body">
                        <li class="list-group">

                            <!-- Parent comment-->
                            <div class="list-group-item border-0" th:each="comment : ${comments}">

                                <!--comment info-->
                                <div class="row">

                                    <!--writer and date-->
                                    <div class="col ml-1">

                                        <!--writer name-->
                                        <div class="row text-left">
                                            <a th:text="${comment.writerName}"></a>
                                        </div>

                                        <!--created at-->
                                        <div class="row text-left">
                                            <a th:text="${#dates.format(comment.createdAt,'yyyy-MM-dd HH:mm:ss')}"></a>
                                        </div>
                                    </div>

                                    <!--action-->
                                    <div class="col align-self-end">
                                        <div class="row justify-content-end m-1">

                                            <!--like comment-->
                                            <form th:action="@{/like/comments/{commentId}(commentId=${comment.id})}"
                                                  method="post">
                                                <button class="btn btn-primary pl-2 pr-2 pb-1 pt-1" type="submit">
                                                    <i class="bi bi-hand-thumbs-up-fill">
                                                        <span th:text="${comment.likeCount}"></span>
                                                    </i>
                                                </button>
                                            </form>

                                            <!--dislike comment-->
                                            <form th:action="@{/dislike/comments/{commentId}(commentId=${comment.id})}"
                                                  class="ml-2"
                                                  method="post">
                                                <button class="btn btn-danger pl-2 pr-2 pb-1 pt-1" type="submit">
                                                    <i class="bi bi-hand-thumbs-down-fill">
                                                        <span th:text="${comment.dislikeCount}"></span>
                                                    </i>
                                                </button>
                                            </form>

                                            <!--reply-->
                                            <button class="btn btn-dark pl-2 pr-2 pb-1 pt-1 ml-2" data-toggle="modal"
                                                    data-target="#replyModal" th:value="${comment.id}"
                                                    onclick="setParentId(value)">
                                                답글
                                            </button>

                                            <!--modify comment-->
                                            <button class="btn btn-primary pl-2 pr-2 pb-1 pt-1 ml-2"
                                                    data-toggle="modal"
                                                    th:if="${comment.writerId} == ${id}"
                                                    data-target="#modifyModal" th:value="${comment.id}"
                                                    onclick="setCommentId(value)">
                                                수정
                                            </button>

                                            <!--delete comment-->
                                            <form th:action="@{/comments/{commentId}/delete(commentId=${comment.id})}"
                                                  class="ml-2"
                                                  th:if="${comment.writerId} == ${id}"
                                                  method="post">
                                                <button class="btn btn-danger pl-2 pr-2 pb-1 pt-1" type="submit">
                                                    삭제
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!--comment content-->
                                <div class="row m-1" th:id="commentContent + ${comment.id}">
                                    <span style="white-space: pre-line" th:value="${comment.content}"
                                          th:text="${comment.content}"></span>
                                </div>
                                <hr>

                                <!--Child comment-->
                                <div class="list-group-item border-0" th:if="${comment.children} != null"
                                     th:each="child : ${comment.children}">

                                    <!--comment info-->
                                    <div class="row">

                                        <!--writer and date-->
                                        <div class="col ml-1">

                                            <!--writer name-->
                                            <div class="row text-left">
                                                <a th:text="${child.writerName}"></a>
                                            </div>

                                            <!--created at-->
                                            <div class="row text-left">
                                                <a th:text="${#dates.format(child.createdAt,'yyyy-MM-dd HH:mm:ss')}"></a>
                                            </div>
                                        </div>

                                        <!--action-->
                                        <div class="col align-self-end">
                                            <div class="row justify-content-end m-1">

                                                <!--like comment-->
                                                <form th:action="@{/like/comments/{commentId}(commentId=${child.id})}"
                                                      method="post">
                                                    <button class="btn btn-primary pl-2 pr-2 pb-1 pt-1" type="submit">
                                                        <i class="bi bi-hand-thumbs-up-fill">
                                                            <span th:text="${child.likeCount}"></span>
                                                        </i>
                                                    </button>
                                                </form>

                                                <!--dislike comment-->
                                                <form class="ml-2"
                                                      th:action="@{/dislike/comments/{commentId}(commentId=${child.id})}"
                                                      method="post">
                                                    <button class="btn btn-danger pl-2 pr-2 pb-1 pt-1" type="submit">
                                                        <i class="bi bi-hand-thumbs-down-fill">
                                                            <span th:text="${child.dislikeCount}"></span>
                                                        </i>
                                                    </button>
                                                </form>

                                                <!--modify comment-->
                                                <button class="btn btn-primary pl-2 pr-2 pb-1 pt-1 ml-2"
                                                        data-toggle="modal"
                                                        th:if="${child.writerId} == ${id}"
                                                        data-target="#modifyModal" th:value="${child.id}"
                                                        onclick="setCommentId(value)">
                                                    수정
                                                </button>

                                                <!--delete comment-->
                                                <form th:action="@{/comments/{commentId}/delete(commentId=${child.id})}"
                                                      class="ml-2"
                                                      th:if="${child.writerId} == ${id}"
                                                      method="post">
                                                    <button class="btn btn-danger pl-2 pr-2 pb-1 pt-1" type="submit">
                                                        삭제
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!--comment content-->
                                    <div class="row m-1" th:id="commentContent + ${child.id}">
                                        <span style="white-space: pre-line" th:text="${child.content}"></span>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </li>
                    </div>

                    <div class="row justify-content-center">
                        <ui class="pagination">
                            <li class="page-item" th:if="${startPage}>0">
                                <a class="page-link"
                                   th:href="@{/posts/{post_id}(post_id=${post_id}, page=${startPage - 1})}">
                                    Prev
                                </a>
                            </li>
                            <li class="page-item disabled" th:if="${startPage}<=0">
                                <a class="page-link">
                                    Prev
                                </a>
                            </li>
                            <th:block th:each="p : ${#numbers.sequence(startPage,endPage)}">
                                <li class="page-item" th:if="${p}!=${page}">
                                    <a class="page-link"
                                       th:href="@{/posts/{post_id}(post_id=${post_id}, page=${p})}"
                                       th:text="${p+1}"></a>
                                </li>
                                <li class="page-item active" th:if="${p}==${page}">
                                    <a class="page-link"
                                       th:text="${p+1}"></a>
                                </li>
                            </th:block>
                            <li class="page-item" th:if="${endPage}<${totalPage - 1}">
                                <a class="page-link"
                                   th:href="@{/posts/{post_id}(post_id=${post_id}, page=${endPage+1})}">
                                    Next
                                </a>
                            </li>
                            <li class="page-item disabled" th:if="${endPage}>=${totalPage - 1}">
                                <a class="page-link">
                                    Next
                                </a>
                            </li>
                        </ui>
                    </div>

                    <!--create comment-->
                    <div class="card-body">
                        <form th:action="@{/comments/posts/{postId}(postId=${post_id})}" th:object="${commentRequest}"
                              method="post">

                            <!--content-->
                            <textarea type="text" style="resize: none" class="form-control" th:field="*{content}"
                                      aria-label="Content"
                                      rows="5" required></textarea>

                            <!--submit-->
                            <button type="submit" class="btn btn-dark mt-3">
                                작성
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Reply Modal-->
            <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!--header-->
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">답글 작성</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <form th:action="@{/comments/posts/{postId}(postId=${post_id})}" th:object="${commentRequest}"
                              method="post">
                            <div class="modal-body">
                                <input type="hidden" th:field="*{parentId}" id="replyParentId">
                                <textarea type="text" style="resize: none" class="form-control" th:field="*{content}"
                                          aria-label="Content"
                                          rows="5" required></textarea>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                                <button type="submit" class="btn btn-primary">작성</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modify Modal-->
            <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <!--header-->
                        <div class="modal-header">
                            <h5 class="modal-title">댓글 수정</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>

                        <form th:action="@{/comments/modify}"
                              th:object="${commentRequest}"
                              method="post">
                            <div class="modal-body">
                                <input type="hidden" th:field="*{commentId}" id="modifyCommentId">
                                <textarea type="text" style="resize: none" class="form-control"
                                          id="modifyCommentContent"
                                          th:field="*{content}" aria-label="Content"
                                          rows="5" required>
                                </textarea>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                                <button type="submit" class="btn btn-primary">수정</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/footer :: footer"></footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script>
    function setParentId(pid) {
        document.getElementById('replyParentId').value = pid;
    }

    function setCommentId(cid) {
        document.getElementById('modifyCommentId').value = cid;
        document.getElementById('modifyCommentContent').value = document.getElementById('commentContent' + cid).innerText;
    }
</script>

</body>

</html>