<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="bodyHeader" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>


    <ul class="navbar-nav ml-auto">

        <div class="topbar-divider d-none d-sm-block"></div>
        <!--login check-->
        <th:block th:if="${nickname == null}">
            <!-- Login Button-->
            <a class="nav-item btn btn-primary align-self-center" href="/login">
                <i class="fas fa-sign-in-alt text-white-50"></i>
                Login
            </a>
        </th:block>
        <th:block th:if="${nickname != null}">
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 normal">[[${nickname}]]</span>
                    <img class="img-profile rounded-circle"
                         src="/img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
<!--                    <a class="dropdown-item" href="#">-->
<!--                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                        Profile-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="#">-->
<!--                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                        Settings-->
<!--                    </a>-->
                    <a class="dropdown-item" href="/modify">
                        <i class="bi bi-pencil-square fa-sm fa-fw mr-2 text-gray-400"></i>
                        Edit Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </th:block>
    </ul>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</nav>
